p {
	color: navy;
}

p.info {
	font-size: small;
	background-color: #dfdfdf;
	color: navy
}

h1 {
	text-shadow: navy 1px 0 10px;
	color: white
}

h2 {
	border: solid 1px black;
	margin: 5px;
}

div.zentai {
    display: grid;                      /* グリッドレイアウトにする*/
    grid-template-columns: 1fr 1fr; /* 3列にする．幅は 1:2:2 の比率*/
    grid-auto-rows: 200px 200px;        /* 高さは 100px */
    grid-gap: 10px;                     /* 隣り合う行（列）の間隔を 10px に*/
	padding: 5px
    width 500px;
}

div.box {
    background: cornsilk;
}
